.VoteControl {
  button {

    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &--entry-score {
    position: relative;
    flex: 0 1 auto;
    margin-bottom: 0;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
    background-color: #fff;
  }
}