.VoteControl {
  flex: 0 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  span {
    text-align: center;
  }
}