@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.PostControls {

  &--edit-remove {
    button {
      cursor: pointer;
      color: theme-color("secondary");
  
      &:hover {
        background-color: transparent;
        border-color: transparent;
        color: theme-color("dark");
      }
    }
  }
  
}