@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";


.AppHeader {
  background-color: #e3f2fd;
  min-height: 4rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);

  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;

      &.active,
      &:hover {
        color: theme-color("primary");
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }

    .vertical-divider {
      display: inline-block;
      margin: 7px 0 5px 9px;
      padding: 0 0 0 9px;
      border-left: 1px solid rgba(0, 0, 0, 0.5);
    }

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }

}